type: object
properties:
  author:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      url:
        type: string
  copyright:
    type: string
  description:
    type: string
  exports:
    type: object
    additionalProperties:
      type: object
      properties:
        description:
          type: string
        engine:
          type: string
        example:
          type: string
        helper:
          type:
            - string
            - object
          additionalProperties:
            type: string
        processor:
          type: string
        generator:
          type: string
        schema:
          type:
            - object
            - string
        spec:
          type:
            - array
            - object
            - string
        type:
          required: true
          type: string
  imports:
    type: object
    additionalProperties:
      type:
        - string
        - object
      properties:
        aliases:
          type: object
          additionalProperties:
            type: string
        version:
          type: string
  name:
    type: string
  version:
    type:
      - number
      - string
