.content h2 {
  font-size: 2rem !important;
}

.content h3 {
  font-size: 1.5rem !important;
}

.content h4 {
  color: gray;
  font-size: 1rem !important;
}

.content h5 {
  font-size: 1.25rem !important;
}

.content pre {
  background-color: rgb(var(--foreground-rgb));
  border-radius: 10px;
  color: rgb(var(--background-rgb));
  font-size: 0.75rem !important;
  padding: 10px;
}
